*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --purple : #4F4789;
    --orange : #FF784F;
    --white : #FFFFFF;
}

html
{
    width: 100vw;
    height: 100vh;
    background-color: #F3F3F3;

}

body
{
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    background-color: #F3F3F3;
}

main
{
    border: 1px black solid;
    width: 1260px;
    height: 100%;
    margin-top: 30px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-leftside
{
    border: 1px black solid;
    height: 823px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.informations {
    width: 300px;
    height: 438px;
    border-radius: 10px;
    background-color: var(--white);
  }

  .top {
    padding-top: 17px;
    width: 300px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .img {
    width: auto;
    height: auto;
  }
  
  .img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 34px;
  }
  
  .name p {
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
  }
  
  .separator {
    width: 254px;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .mid {
    width: 300px;
    height: auto;
    padding-bottom: 30px;
  }
  
  .personnal-info {
    margin-top: 30px;
    margin-left: 23px;
    height: 135px;
    width: 255px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
  
  .personnal-info div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
  }
  
  .personnal-info div p {
    font-family: "new-hero", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
  }
  
  .personnal-info div p span {
    font-family: "new-hero", sans-serif;
    font-weight: 300;
  }
  
  .bottom {
    width: 100%;
    height: 81px;
  }
  
  .btn2 {
    margin-left: 96px;
    width: 107px;
    height: 45px;
  }
  
  .btn2 button {
    border: none;
    border-radius: 6px;
    background-color: var(--purple);
    color: var(--white);
    width: 100%;
    height: 100%;
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
  }


.relations-groups-pages
{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: var(--white);
    border-radius: 10px;
}

.relations-groups-pages div
{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relations-groups-pages div .text-number
{
    width: 255px;
    height: 34px;
    display: flex;
    flex-direction: row;
}

.text-number div
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}
.text-number .txt
{
    justify-content: flex-start;

}

.text-number .txt p 
{
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.text-number div p
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.link
{
    width: 500px;
    height: 500px;
}

.relations-groups-pages div .separator2
{
    position: absolute;
    top: 100px; 
    left: 23px;
    width: 255px;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    margin-top: 30px;
    width: 300px;
    height: 45px;
  }
  
  .btn button {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 2px solid var(--orange);
    color: var(--orange);
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
  }

.dashboard-mid
{
    height: 100%;
    width: 700px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.create-post
{
    display: flex;
    align-items: center;
    top: 559px;
    left: 410px;
    background-color: #FFFFFF;
    width: 700px;
    height: 112px;
    border-radius: 10px;
    border: none;
}

.pp-post
{
    position: relative;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.pp-post img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fake-input
{
    position: relative;
    margin-left: 20px;
    width: 182px;
    height: 34px;
    display: flex;
    align-items: center;
}

.fake-input p
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}


/* Dashboard Right */

.dashboard-right
{
    width: 220px;
    height: 726px;
    border: 1px black solid;
}

.suggestions
{
    width: 100%;
    height: 580px;
    background-color: var(--white);
    border: 1px black solid;

}

.suggestions-personnes
{
    margin-top: 14px;
    margin-left: 16px;
    border: 1px black solid;
    width: 100%;
    height: 242px;
    display: flex;
    flex-direction: column;
}

.suggestions-personnes div
{
    width: 150px;
    height: 34px;
}

.suggestions-personnes h3
{
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.personnes
{
    margin-top: 8px;
    width: 100%;
    height:185px;
    border: 1px black solid;
}

.personnes div
{
    width: 100%;
    height: 25px;
}
.personnes div h5
{
    font-family: "new-hero", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

.list
{
    width: 184px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px black solid;
}

.list div 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border: 1px black solid;
}

.list-img
{
    width: 30px;
    height: 30px;
    border: 1px black solid;

}

.list-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.list-p
{
    width: 50%;
    height: 100%;
    border: 1px black solid;
}




/* .post 
{
    top: 691px;
    left: 410px;
    background-color: var(--white);
    height: 542px;
    width: 700px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    justify-content: flex-start;
    
}

.top-post
{
    width: 100%;
    height: 132px;
    /* border: 1px black solid; */
    border-radius: 10px;
}

.post-pp
{
    position: relative;
    margin-top: 18px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.post-pp img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-name
{
    position: absolute;
    top: 26px;
    left: 80px;
    height: 34px;
    width: 172px;
}

.post-name p
{
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.post-text p
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.post-date p, .plus p 
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.post-text
{
    position: absolute;
    top: 78px;
    left: 20px;
    width: 475px;
    height: 34px;
    display: flex;
    align-items: center;
}

.post-date
{
    position: absolute;
    top: 25px;
    left: 480px;
    width: 200px;
    height: 36px;
}

.plus
{
    position: absolute;
    top: 86px;
    left: 505px;
    width: 175px;
    height: 26px;
}

.up 
{
    height: 52px;
    width: 100%;
}

.nb-like
{
    position: relative;
    margin-top: 13px;
    margin-left: 20px;
    height: 25px;
    width: 122px;
    gap: 4px;
    display: flex;
    flex-direction: row;
}

.nb-like div
{
    width: 20px;
    height: 20px;
}

.nb-like div img
{
    width: 100%;
    height: 100%;
}

.nb-like .nb
{
    position: relative;
    margin-left: 6px;
    margin-top: 1px;
    width: 44px;
    height: 100%;
}

.nb-comments p , .nb-like .nb p
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;   
}

.nb-comments
{
    position: absolute;
    top: 13px;
    left: 516px;
    width: 164px;
    height: 25px;
}

.img-post
{
    margin-top: 132px;
    width: 100%;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bottom-post
{
    width: 100%;
    height: 105px;
    position: absolute;
    top: 437px;
    border-radius: 0px 0px 10px 10px;
}

.down
{
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: row;
}

.left, .right{
    height: 100%;
    width: 350px;
}

.left div{
    position: absolute;
    top: 64px;
    left: 115px;
    width: 30px;
    height: 30px;
}

.right div
{
    position: absolute;
    top: 64px;
    left: 429px;
    width: 30px;
    height: 30px;
}

.left div img, .right div img
{
    width: 100%;
    height: 100%;
}

.left .text
{
    position: absolute;
    top: 64px;
    left: 159px;
    width: 200px;
    height: 34px;
    display: flex;
    align-items: center;
}

.right .text
{
    position: absolute;
    top: 64px;
    left: 469px;
    width: 200px;
    height: 34px;
    display: flex;
    align-items: center;
}

.left .text p, .right .text p
{
    font-family: "new-hero", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
} */