* {
    margin: 0;
    padding: 0;
}

@import url("https://use.typekit.net/zfb0hmm.css");

body { 
    background-color: #4F4789;
    color: #FFF;
    overflow: hidden;
}

a {
    color: #FFF;
}

.logo {
    position: fixed;
    top: 30px;
    left: 180px;
}

.page-title {
    color: #FFF;
    font-family: "new-hero", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.white-block {
    width: 600px;
    height: 950px;
    background-color: #FFF;
    transform: rotate(15deg);
    position: fixed;
    left: -203px;
    top: -120px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
}

.form-block{
    position: fixed;
    top: 130px;
    right: 90px;
}

.full-name {
    display: flex;
    column-gap: 28px;
}
.input {
    width: 260px;
    height: 50px;
    margin-bottom: 16px;
    border-style: none;
    border-bottom-style: solid;
    background-color: #4F4789;
    color: #FFF;
}

::placeholder {
    color: #FFF;
    opacity: 0.6;
}

.button {
    width: 120px;
    height: 50px;
    background-color: #FF784F;
    color: #FFF;
    border-radius: 6px;
    border-style: none;
    margin: 16px 0 16px 0;
}

#moon {
    position: fixed;
    top: 160px;
    left: 140px;
    width: 586px;
}

.hidden {
    visibility: hidden;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.age-gender {
    display: flex;
    column-gap: 30px;
}

.password {
    display: flex;
    column-gap: 28px;
}

#mail {
    width: 551px;
}
